<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "rsc/result.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "rsc/reset.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "rsc/view.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "rsc/standard.css" %}" />
{% load staticfiles %}

<script type="text/javascript">
function populateSearchBox() {
    myVar=document.getElementById("q_js").value; 
    document.getElementById("search_box").value=myVar;
}
</script>

</head>

<body onLoad="populateSearchBox();">

<div id='container' style="width: 960px; margin:0pt auto">
<!--<div id="search_container" style=" top: 7%; left: 2%; width: 90%; height: 10%;;padding-top:20px">-->
<div id="search_container" style="top: 10%; left: 25%; width: 75%; height: 50%;">

<div style="float:top; margin:0pt auto">
{% load staticfiles %}
<a  title="Lucidworks Fusion Interface" href="/">
<img id=logo src="{% static "rsc/winged-shoe.jpg" %}" alt="winged shoe logo" style="padding 4px;"/>
</a>
</div>

<div style="padding-top:15px">
    <!-- id="searchform"-->
    <form method="post" action="../">
      {% csrf_token %}
          <input type="text" name="q" id="search_box" class="search_box"/>
          <input type="hidden" name="qjs" id="q_js" value="{{ q }}" />
          <input type="submit" value="Search" class="search_button" /></br >
          <p style="color:#666666; font-size:14px; font-family:Arial, Helvetica, sans-serif;">Try searching by brand or shoe name or both using 'AND' (e.g. 'nike AND air')</p>
          <p style="color:#666666; font-size:14px; font-family:Arial, Helvetica, sans-serif;">To search all shoes, search 'ALL'</p>
    </form>
</div>

</div>

